.hero-component {
  background: url('images/hero-01.png') bottom left no-repeat;
}

.password-strength p {
  width: 60px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 0;
}
